<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error - Casita de Chocolate</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container text-center mt-5">
    <h1 style="color: #E53935;">😕 Oops! Algo salió mal</h1>
    <p class="lead" th:text="${error}">Error desconocido</p>
    <a href="/" class="btn btn-primary">Volver al inicio</a>
</div>
</body>
</html>